<div>
  <h1 class="font-bold text-4xl">Sessions#new</h1>
  <p>Find me in app/views/sessions/new.html.erb</p>
  <%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", data: { turbo: "false" }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
