<div id="<%= dom_id post %>">
  <p class="my-5 text-4xl">
    <%= post.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to post.datetime, post, class: "text-xs" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
